@font-face {
  font-family: 'BaiJamjuree';
  src: url('../../shared/fonts/BaiJamjuree-Light.woff2') format('woff2'),
    url('../../shared/fonts/BaiJamjuree-Light.woff2') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'BaiJamjuree';
  src: url('../../shared/fonts/BaiJamjuree-Regular.woff2') format('woff2'),
    url('../../shared/fonts/BaiJamjuree-Regular.woff2') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'BaiJamjuree';
  src: url('../../shared/fonts/BaiJamjuree-SemiBold.woff2') format('woff2'),
    url('../../shared/fonts/BaiJamjuree-SemiBold.woff2') format('woff');
  font-weight: 500;
  font-style: normal;
}
