// @import 'src/app/styles/variables/global.scss';

.Page {
  max-width: 1440px;
  margin: 0 auto;
  height: 100%;
  width: -moz-available; /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  width: fill-available;
}

// @media screen and (min-width: $tablet-width) {
//   .Page {
//     padding: 0 32px;
//   }
// }

// @media screen and (min-width: $big-desktop-width) {
//   .Page {
//     padding: 0;
//     margin: 0 auto;
//   }
// }
